.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
dev-dist
dist
dist-ssr
*.local
frappe_sm/public/social_media_management
social_media_management/yarn.lock
frappe_sm/www/frappe_sm.html
build